<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola das Escolas</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/fontawesome.all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"> -->
    <link rel="stylesheet" href="css/index.css">
    <style>
        nav {
            background-color: darkgray;
        }

        .container {
            margin-top: 2.6rem;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top mb-3">
            <a class="navbar-brand ml-sm-5" href="/">Escola das Escolas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav m-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(Pagina Principal)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alunos/cadastrarAlunos">Cadastro<span class="sr-only">(Cadastro de
                                Alunos)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alunos">Relatório<span class="sr-only">(Relatório de
                                Alunos)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control mr-md-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-search" style="font-size:24px; color: white;"></i></a>
                    </div>
                </form>
            </div>
        </nav>
    </header>